<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <form action="" method ="POST">
        <label>USUÁRIO</label><br>
        <input name = "email" type="email" placeholder="Insira seu email"><br><br>
        <label>SENHA</label><br>
        <input name = "password" type="password" placeholder="Insira sua senha"><br><br>
        <input type= "submit" value="LOGIN"><br><br>
    </form>
</div>
<div>
    <form action="/new">
        <label>Novo aqui? </label>
        <input value="Cadastrar" type="submit" >
    </form>
</div>
</body>
</html>