<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
<div>
    <form method="POST">
        <label>EMAIL</label><br>
        <input name = "email" type="email" id = "email"><br><br>

         <label>NOME</label><br>
        <input name = "name" type="text"  id = "name"><br><br>

        <label>CPF</label><br>
        <input name = "cpf" type="number"  id = "CPF"><br><br>

        <label>SENHA</label><br>
        <input name = "password" type="password"  id = "password"><br><br>

        <input type= "submit" value="CADASTRAR"><br><br>

    </form>
</div>

</body>
</html>